@CHARSET "UTF-8";

#footer {
	width: 100%;
	background: #363636;
}

#footer-wrapper {
	overflow: hidden;
	background: #85150f;
	width: 60%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -16px;
}

#footer ul {
	float: left;
	margin-top: 50px;
	list-style: none;
	padding : 0;
}

#footer a {
	text-decoration: none;
	color: white;
}

.title {
	font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
	font-size: 0.8em;
}

.subs {
	font-size: 0.7em;
    font-family: Arial, Gadget, sans-serif;
}

#food {
	margin-left: 0;
}

#info {
	margin-left: 12%;
}

#offer {
	margin-left: 12%;
}

#careers {
	margin-left: 12%;
}

#extra {
	margin-left: 12%;
}

@media (max-width: 1250px) {
	
	#info {
		margin-left: 10%
	}
	#offer {
		margin-left: 10%;
	}

	#careers {
		margin-left: 10%;
	}

	#extra {
		margin-left: 10%;
	}
}

@media (max-width: 1080px) {
	
	#info {
		margin-left: 7%
	}
	#offer {
		margin-left: 7%;
	}

	#careers {
		margin-left: 7%;
	}

	#extra {
		margin-left: 7%;
	}
}

@media (max-width: 905px) {
	
	#info {
		margin-left: 4%
	}
	#offer {
		margin-left: 4%;
	}

	#careers {
		margin-left: 4%;
	}

	#extra {
		margin-left: 4%;
	}
}

@media (max-width: 768px) {
	#food{
		visibility: hidden;
	}
	#info {
		visibility: hidden;
	}
	#offer {
		visibility: hidden;
	}

	#careers {
		visibility: hidden;
	}

	#extra {
		visibility: hidden;
	}
}