@CHARSET "UTF-8";

header {
	width: 100%;
	background-color: #85150f;
}

#logo {
	background-image: url(../images/halal/LOGO_HALALFEEST.jpg);
	width: 250px;
	height: 111px;
	margin-left: auto;
	margin-right: auto;
}