@CHARSET "UTF-8";

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;        
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    #logo{
    	background-image: url(../images/logo-responsive.png);
    	width: 100px;
    	height: 100px;
    	top: -40px;
    }
    #nav-wrapper {
    	height: 50px;
    	margin-top: 25px;
    }
    #navbar{
    	margin-top: 0;
    }
    #home {
    	margin-top: 5px;
    }
}

@media (max-width: 1084px) {
	#media-bar p {
		font-size: 1.5em;
	}	
}

@media (min-width: 768px) and (max-width: 980px) {
	#top-nav {
		margin-right: 5%;
	}
	#top-nav ul li {
		margin-left: 10%;
	}
}

@media (max-width: 619px) {
	#social-links{
	width: 60px;
	margin-left: auto;
	margin-right: auto;
}

#facebook{
	background-image: url(../images/facebookRD.png);
	height: 30px;
	width: 30px;
}
#twitter{
	background-image: url(../images/twitterRD.png);
	height: 30px;
	width: 30px;
}
}

@media (max-width: 460px) {
	.title-page {
		padding-top: 20px;
		height: 90px;
	}
}