@CHARSET "UTF-8";

@media (max-width: 1450px) {
	#text-wrapper h3 {
		padding-top: 2%;
	}
	#text-wrapper p {
		padding-top: 2%;
		font-size: 12pt;
	}
	#text-wrapper button {
		margin-top: 2%;
	}
}

@media (max-width: 1330px) {
	#text-wrapper h3 {
		padding-top: 0%;
	}
	#text-wrapper p {
		padding-top: 0%;
		font-size: 12pt;
	}
	#text-wrapper button {
		margin-top: 0%;
	}
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;        
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    #logo{
    	background-image: url(../images/logo-responsive.png);
    	width: 100px;
    	height: 100px;
    	top: -40px;
    }
    #nav-wrapper {
    	height: 50px;
    	margin-top: 25px;
    }
    #navbar{
    	margin-top: 0;
    }
    #home {
    	margin-top: 5px;
    }
    #text-wrapper h3 {
		padding-top: -2%;
		font-size: 13pt;
	}
	#text-wrapper p {
		padding-top: -2%;
		font-size: 11pt;
	}
	#text-wrapper button {
		margin-top: -2%;
	}
}

@media (max-width: 1010px) {
	#text-wrapper h3 {
		margin-top: 0px;
	}
}

@media (min-width: 768px) and (max-width: 980px) {
	#top-nav {
		margin-right: 5%;
	}
	#top-nav ul li {
		margin-left: 10%;
	}
	.title-page {
		height: 35px;
	}
	.title-page h2 {
		font-size: 14pt;
	}
	.image {
		max-width: 100%;
	}
	#text-wrapper {
		max-width: 100%;
		float: none;
	}
	#text-wrapper h3 {
		padding-top: 1%;
		font-size: 12pt
	}
	#text-wrapper p {
		padding-top: 1%;
		font-size: 10pt;
	}
	#text-wrapper button {
		margin-top: 1%;
		margin-bottom: 1%;
	}
	.formula-extra {
		margin-top: 55px;
	}
}

@media (min-width: 768px) and (max-width: 823px) {
	.formula {
		height: 296px;
	}
	.formula-extra {
		height: 65px;
		margin-top: 120px;
	}
}

@media (min-width: 768px) and (max-width: 823px) {
	.formula{
		font-size: 10pt;
	}
}

@media (max-width: 767px) {
	#footer-wrapper {
		text-align: center;
	}
	#footer-wrapper ul li {
		float: none;
		margin: 0;
	}
	
	.ftr-allignement {
		margin-left: 0;
	}
	#footer{
		height: 100%;
		margin-top: -10px;
	}
	.title-page {
		height: 35px;
	}
	.title-page h2 {
		font-size: 14pt;
	}
	.image {
		max-width: 100%;
	}
	#text-wrapper {
		max-width: 100%;
		max-height: 100%;
		float: none;
	}
	#text-wrapper h3 {
		padding-top: 1%;
		font-size: 12pt
	}
	#text-wrapper p {
		padding-top: 1%;
		font-size: 10pt
	}
	#text-wrapper button {
		margin-top: -1%;
		margin-bottom: 3%;
	}
	#content {
		overflow: visible;
	}
	.formula {
		float: none;
		width: 100%;
	}
	.formula-spacing {
		margin-left: 0;
	}
	.formula-center {
		height: auto;
	}
	.formula-extra h3 {
		padding-top: 0;
	}
}

@media (max-width: 480px) {
	.title-page {
		height: 35px;
	}
	.title-page h2 {
		font-size: 14pt;
	}
	.image {
		max-width: 100%;
	}
	#text-wrapper {
		max-width: 100%;
		height: 350px;
		float: none;
	}
	#text-wrapper h3 {
		padding-top: 1%;
		font-size: 12pt
	}
	#text-wrapper p {
		padding-top: 1%;
		font-size: 10pt
	}
	#text-wrapper button {
		margin-top: 1%;
		margin-bottom: 1%;
	}
	.title-page {
		text-align: left;	
	}
	.title-page h2 {
		padding-left: 30%;
	}
}

@media (max-width: 360px) {
	.title-page h2 {
		padding-left: 35%;
	}
	
	#private-wrapper {
		height: auto;
	}
}

@media (min-width: 349px) and (max-width: 354px) {
	#private-wrapper {
		height: 600px;
	}
}

@media (min-width: 338px) and (max-width: 348px) {
	#private-wrapper {
		height: 610px;
	}
	.panel-body a {
	margin-left: 25%;
	}
}

@media (min-width: 320px) and (max-width: 339px) {
	#private-wrapper {
		height: 620px;
	}
	.panel-body a {
	margin-left: 20%;
	}	
}

@media (max-width: 320px) {
	.title-page h2 {
		padding-left: 35%;
	}
	#private-wrapper {
		height: 620px;
	}
	.panel-body a {
	margin-left: 10%;
	}
}