@CHARSET "UTF-8";

#content {
	overflow: auto;
}

.title-page {
	width: 100%;
	height: 50px;
	margin-top: -20px;
	background: #363636;
	text-align: center;
	-webkit-box-shadow: inset 0px 5px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 5px 15px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 5px 15px 0px rgba(0,0,0,0.75);
}

.title-page h2 {
	color: #e9500e;
	font-family: 'Indie Flower';
	font-weight: bold;
	padding: 5px;
	text-shadow: black 2px 2px 0px;
}

/* ============================================================
						Formula
   ============================================================ */

#private-wrapper .image {
	padding-left: 0;
	padding-top: 20px;
}

#formula-wrapper .panel {
	padding-left: 0;
	padding-right: 0;
}

#formula-wrapper .panel-title {
	color: #e9500e;
	font-size: 14pt;
	font-weight: bold;
}

#formula-wrapper .panel-body {
	font-size: 12pt;
}

.formula-extra {
	text-align: center;
	font-weight: bold;
	color: #85150f
}